body
{
    width: ;
}
.role
{
    color: aqua;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0%;
}
.timeline
{
    color: aqua;
    font-family: cursive;
    margin: 0%;
}
h3
{
color: brown;
font-family: Georgia, 'Times New Roman', Times, serif;
}